/*
#content is the label applied to the child of body, but containing the div #qa on ankidroid
On desktop, #qa is a direct child of body, and on both platforms, #qa  contains the actual html we wrote
since #qa is broken on android, we need to refer to it with .question or .answer respectively - not anymore
*/

@media screen and (min-width: 1000px){
   html{
    font-size: 2em;
    max-width: 1000px;
    margin: 0 auto;}
}

/* Reset user agent or anki style rules*/

hr, div:empty:not(.nohide), br, #_flag, #_mark, #MathJax-Element-4~br{ display: none;}

svg{display: block !important;}

em, i, u, font, ins, s, strike, del, cite, var, address, dfn, tt, code, kbd, samp, a, a.replaybutton, pre, xmp, plaintext, listing{
    font-style: unset; text-decoration: unset; font-family: unset;}
big, small, h1, h2, h3, h4, h5, h6 {font-size: unset;} strong, b {font-weight: unset;}
mark{color: unset; background-color: unset;}
blockquote, q { quotes: none; } blockquote::before, blockquote::after, q::before, q::after { content: ''; content: none; }

/*Reset Anki-specific behaviors*/
body{overflow-wrap: break-word; overflow-anchor: none;}
img{ max-width: 100% !important; max-height: 100% !important;}
.typeGood, .typeBad, .typeMissed{background-color: transparent;}
.card, body.nightMode.card {background-color: white;}
.MJXc-display{margin: 0!important;}
body font {color:unset;}
.replaybutton span{display: initial; vertical-align: initial; padding: 0;}
#typeans{font-family: inherit !important;}

div, img, textarea, body, p, pre, #content { padding: 0; margin: 0;}
blockquote, abbr, acronym, address, big, cite, del, dfn, ins, section, summary,
time, mark, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside{ margin: 0; padding: 0; border: 0;}

textarea{ font-family: inherit; resize: none; color: inherit; font: inherit; border-width: 0; display: block;}
textarea:focus{ outline: none; box-shadow:none; border-color:transparent; }

pre{white-space: pre-wrap; line-height: 0; /*fix for css adding unwanted whitespace*/}
ul, ol{margin-block-start: 0.5rem; margin-block-end: 0.5rem; list-style: inside; text-align: left; padding-inline-start: 1rem;}
dl{text-align: left;} dt{font-style: italic;} dd{padding-left: var(--small-distance);}

.background{ position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; z-Index: -1;} /*This used to be used as a background, but is now only used to make sure the correct color variables are used.*/

/*Warning classes to show the user that there is unwanted HTML that breaks something*/
.imageSection > div > div{ background-color: red !important; }

/* Set the basic variables */
body{
    --basic-unit-of-distance: 0.5rem;
    --border-width-medium: 0.1rem 0.1rem 0.2rem 0.1rem;
    --border-width-large: 0.2rem 0.2rem 0.3rem 0.2rem;
    --tiny-distance: calc(var(--basic-unit-of-distance)*0.5);
    --small-distance: calc(var(--basic-unit-of-distance));
    --smallish-distance: calc(var(--basic-unit-of-distance) * 1.5);
    --medium-distance: calc(var(--basic-unit-of-distance) * 2);
    --largeish-distance: calc(var(--basic-unit-of-distance) * 2.5);
    --large-distance: calc(var(--basic-unit-of-distance) * 3);
    --square-size: 3rem;
    --square-tappable-distance: 2.5rem;
    --font-size-retrievable: var(--large-distance);
    font-size: var(--font-size-retrievable);
    text-align: center;
    font-family: Rubik, KosugiMaru;}

    code {font-family: Inconsolata;}
    .ipa, .greek{font-family: DejaVuSans;}

.background~*{
    --main-color-full-saturation-hs: var(--hue-dark-color), 100%;
    --white-color: #ffffff;
    --white-deemphasize-color: rgba(255,255,255, 0.8);

    --good-color: #11ce00;
    --bad-color: #f00;
    --missed-color: #888;
    --selected-color: #1cc2f6;
}

/*If the color is between 30 and 230, needs a corrective factor to fix the fact that green, yellow and cyan are too light
factor is
0.2 between 30 and 60,
0.3 between 60 and 200,
0.2 between 230 and 260
*/
.background~*{--hue-dark-color: 230; --c-adj-fact:0;}
[data-tag*="::ja::"]~*, [data-tag$="::ja"]~*, [data-tag*="::ja "]~*{ --hue-dark-color: 350;}
[data-tag*="::es::"]~*, [data-tag$="::es"]~*{--hue-dark-color: 283; }
[data-tag*="::en::"]~*, [data-tag$="::en"]~*{--hue-dark-color:  227; --c-adj-fact:0.2;}
[data-tag*="::de::"]~*, [data-tag$="::de"]~*{--hue-dark-color:  0;}
[data-tag*="::phil::"]~*, [data-tag$="::phil"]~*{--hue-dark-color:  128;--c-adj-fact:0.3;}
[data-tag*="::inf::"]~*, [data-tag$="::inf"]~*{--main-color-full-saturation-hs:  220, 13%;} [data-tag*="::inf::"]~*.cardlet.backSide,  back-indicator-token~[data-tag*="::inf::"]~* .imageSection img{ --ui-saturation: 13%; --ui-lightness: 0.25;}
[data-tag*="::costume::"]~*, [data-tag$="::costume"]~*{--hue-dark-color:  317;}
[data-tag*="::bio::"]~*, [data-tag$="::bio"]~*{--hue-dark-color:  136; --c-adj-fact:0.3;}
[data-tag*="::sex::"]~*, [data-tag$="::sex"]~*, [data-tag*="::love::"]~*, [data-tag$="::love"]~*{--hue-dark-color:  333;}
[data-tag*="::ling::"]~*, [data-tag$="::ling"]~*{--hue-dark-color:  186; --c-adj-fact:0.3; }
[data-tag*="::f-of-a::"]~*, [data-tag$="::f-of-a"]~*{--hue-dark-color:  15; }
.cardlet, .imageSection img{
  --element-color: var(--main-color-full-saturation-hs), calc(40% * (1 - 0.60 * var(--c-adj-fact)));

  --darkener-light-bg: hsla(var(--main-color-full-saturation-hs), 50%, 0.07);
  --darkener-dark-bg: hsla(0,0%,0%,0.15);

  --box-bg-color: var(--stacking-darkener);
  --box-border-color: var(--stacking-darkener);

  --box-inverted-bg-color: var(--card-font-color);
  --box-inverted-font-color: var(--card-bg-color);
  --box-inverted-border-color: var(--stacking-darkener-inverse);

  color: var(--card-font-color);
  background-color: var(--card-bg-color);
  border-color: var(--card-border-color);
}
.cardlet.frontSide, .imageSection img{

    --stacking-darkener: var(--darkener-light-bg);
    --stacking-darkener-inverse: var(--darkener-dark-bg);

    --card-font-color: hsl(var(--element-color));
    --card-inverse-font-color: var(--white-color);
    --card-bg-color: hsl(var(--main-color-full-saturation-hs), calc(98% * (1 - 0.02 * var(--c-adj-fact))));
    --card-border-color: hsl(var(--main-color-full-saturation-hs), calc(95% * (1 - 0.05 * var(--c-adj-fact))));
    --child-deemphasize-color: hsla(var(--element-color), 0.7);

}

.cardlet.backSide,  back-indicator-token~* .imageSection img{

    --stacking-darkener: var(--darkener-dark-bg);
    --stacking-darkener-inverse: var(--darkener-light-bg);

    /* We will use these to calculate the colors of the backside */
    --ui-saturation: 75%;
    --font-saturation: 100%;
    --ui-lightness: 0.45; --q-ui-lightness: calc( 1 - var(--ui-lightness)); /* q by analogy from q = 1 - p */
    --font-lightness: 1; --q-font-lightness: calc( 1 - var(--font-lightness));
    --downstep: 0.05;

    /* The actual colors of the backside. Each color has a calc for lightness to split up the code for readability */
    --calc-font-lightness: calc((var(--font-lightness)*100%) * (var(--font-lightness) - var(--q-font-lightness) * var(--c-adj-fact)));
      --card-font-color: hsl(var(--hue-dark-color), var(--font-saturation), var(--calc-font-lightness));
    --calc-deemphasize-lightness: calc(( (var(--font-lightness) - var(--downstep)) * 100% ) * (var(--font-lightness) - (var(--q-font-lightness) + var(--downstep)) * var(--c-adj-fact)));
      --child-deemphasize-color: hsl(var(--hue-dark-color), var(--font-saturation), var(--calc-deemphasize-lightness));
    --calc-inverse-font-lightness: calc((var(--ui-lightness)*100%) * (1 - var(--q-ui-lightness) *var(--c-adj-fact)));
      --inverse-font-color: hsl(var(--hue-dark-color), var(--ui-saturation), var(--calc-inverse-font-lightness));
    --calc-border-lightness: calc((( var(--ui-lightness) - var(--downstep) ) * 100%)  * (1 - (var(--q-ui-lightness) + var(--downstep)) * var(--c-adj-fact)));
      --card-border-color: hsl(var(--hue-dark-color), var(--ui-saturation), var(--calc-border-lightness));
    --card-bg-color: var(--inverse-font-color);


}

.textDeemphasize{color: var(--child-deemphasize-color);}
::selection{background-color: rgba(0,0,0,0.1);}

/*Boxes*/
.contentBox,
.reorderText i,
#back-indicator-token~* i,
.selectText u,
.selectText strike,
#typeans,
:not(pre) > code,
.highlightMain,
.replaybutton,
font,
span.cloze,
a,
.key{
    background-color: var(--box-bg-color);
    border-color: var(--box-border-color);
    border-style: solid;
    border-radius: var(--small-distance);
    border-width: var(--border-width-medium);
    display: inline-block;
    --box-margin-scaling-factor: 1;
    --box-margin-horizontal: calc(var(--box-margin-scaling-factor) * var(--small-distance));
    --box-margin-vertical: calc(var(--box-margin-scaling-factor) * 0.6 * var(--small-distance));
    --box-padding-scaling-factor: 1;
    --box-padding-horizontal: calc(var(--box-padding-scaling-factor) * var(--small-distance));
    --box-padding-vertical: calc(var(--box-padding-scaling-factor) * 0.5 * var(--small-distance));
    padding: var(--box-padding-vertical) var(--box-padding-horizontal);
    margin: var(--box-margin-vertical) var(--box-margin-horizontal);
    word-break: keep-all;
    line-height: 1.2em;
}

/*Divergent sizes*/
.replaybutton, .key{ min-width: var(--square-size); height: var(--square-size); }

/*Non-box rectangles*/
.scratchpad textarea,
pre code,
#typeans{
    background-color: var(--box-bg-color);
    border-radius: var(--small-distance);
}

/*Big boxes with their own properties*/
.cardlet, .imageSection img, .contentBox{
    border-style: solid; border-radius: var(--medium-distance)!important; border-width: var(--border-width-large)!important;
}
.imageSection img{ border-color: var(--card-border-color);}

/* Divergent colors */

/* Good/Bad/Selected colors */
/* Dynamically applied wrong/right colors */
.good-element, .bad-element{color: var(--white-color) !important; border-color: var(--darkener-dark-bg) !important;} .bad-element{ background-color: var(--bad-color) !important;} .good-element{background-color: var(--good-color) !important;}
/* Auto-applied wrong/right/missed/selected colors */
body .typeGood,#back-indicator-token~* .questionedElements > div > .contentBox.if-mult-choice-correct, #back-indicator-token~* .selectText u.selected{background-color: var(--good-color); color: var(--white-color); border-color: var(--darkener-dark-bg); --child-deemphasize-color: var(--white-deemphasize-color);}
body .typeBad, #back-indicator-token~* .questionedElements > div .contentBox.selectedBox:not(.if-mult-choice-correct), #back-indicator-token~* .selectText strike.selected{ background-color: var(--bad-color); color: var(--white-color); border-color: var(--darkener-dark-bg); --child-deemphasize-color: var(--white-deemphasize-color);}
#back-indicator-token~* .selectText u, .typeMissed{background-color: var(--missed-color); color: var(--white-color); border-color: var(--darkener-dark-bg); --child-deemphasize-color: var(--white-deemphasize-color);}
.frontSide .contentBox.selectedBox, .frontSide .selectText .selected, .replaybutton{background-color: var(--selected-color); color: var(--white-color); border-color: var(--darkener-dark-bg); --child-deemphasize-color: var(--white-deemphasize-color);}
/*Inverted colors*/
a:not(.replaybutton), .key  {background-color: var(--box-inverted-bg-color); color: var(--box-inverted-font-color); border-color: var(--box-inverted-border-color); }

/*Utility: Centering via flexbox*/
.replaybutton, .key{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/*Utility: font elements*/
b, .headerSection, .cloze, .key {font-weight: bold;}
.extraInfoSection, #frontTags {font-size: var(--font-size-retrievable); --font-size-retrievable: var(--largeish-distance);}

/* Layouting: Sizing and alignment for the regular elements*/
body > #qa, #content > .question, #content > .answer{margin: 0 var(--small-distance) 0 var(--small-distance); display: flex; flex-direction: column; justify-content: flex-end; min-height: 100vh;}
body > #qa > div, #content > .question > div, #content > .answer > div {margin-top: var(--small-distance); margin-bottom: var(--small-distance);}

.media-container{position: fixed; display: flex; flex-flow: row-reverse wrap; top:var(--medium-distance); right:var(--medium-distance);}

.imageSection {margin: 0 0 0 calc(-1 * var(--small-distance))!important; width: calc(100% + 2 * var(--small-distance))}
.imageSection > div{ width: 100%; height: 100%; box-sizing: border-box; display: flex; flex-wrap: wrap; align-items: baseline; }
.imageSection img {flex-basis: 45%; min-width:45%; flex-shrink: 1; flex-grow: 1; object-fit: cover; box-sizing: border-box; margin: var(--small-distance);  line-height:0px; max-height: 65vh!important;}
.imageSection img:only-of-type, img.fullsize-image{ flex-basis: 95%; min-width: 95%; max-height: none!important;}

.cardlet { width: 100%; margin: var(--medium-distance) 0; overflow: hidden; box-sizing: border-box;}

.bodySection>div.headerSection{ padding-top: var(--large-distance); padding-bottom: var(--medium-distance)}
.bodySection{padding-left: var(--medium-distance); padding-right: var(--medium-distance);}
.questionedContentSection>:not(:only-of-type){ padding-bottom:var(--smallish-distance);}
.questionedContentSection>:not(:only-child){padding-bottom: var(--medium-distance);}
.questionedElements{line-height: calc(1.33 * var(--large-distance));}
.questionedElements > div > div { --margins-lr: var(--small-distance); margin-left: var(--margins-lr); margin-right: var(--margins-lr); }
#frontTags{padding-top: var(--small-distance);padding-bottom: var(--medium-distance); text-align: left;} #frontTags:only-of-type { padding-top: var(--medium-distance); }
.extraInfoSection:only-child {padding: var(--medium-distance) 0;}
.extraInfoSection > div {margin-bottom: var(--small-distance);} .extraInfoSection > div:only-of-type, .extraInfoSection > div:last-child {margin-bottom: 0;}
.questionedElements{ display:flex; justify-content: center; padding: var(--medium-distance) 0; }
/*optional class*/.flexDirectionColumn{flex-direction: column;}.flexWrap{flex-wrap: wrap;}
.questionedElements > div { min-width: 0; flex-shrink: 1; }
.inputSection {margin: var(--small-distance) 0;}

/*Components*/

.tag-set{ display: block; } .tag-set.hidden{ display: none; }
.tag{ text-transform: capitalize; } .tag.highlight{ color: var(--card-font-color); } .tag:first-of-type{ display: none; } .tag:not(:last-child):after{ content: " > "; opacity: 0.5; }

pre{overflow: hidden; margin: var(--tiny-distance) 0; position: relative;} pre code{ box-sizing: border-box; width: 10000px; max-width: 100%;font-size: var(--font-size-retrievable); --font-size-retrievable: var(--medium-distance); padding: var(--smallish-distance) var(--large-distance) var(--smallish-distance) var(--medium-distance); margin: 0; display: block; border: none; word-break: break-all; line-height: 1em; text-align: left; tab-size: 2; }
pre code::after{content:attr(data-codetype); text-transform: uppercase; position: absolute; top: var(--tiny-distance); right: var(--small-distance);}
pre code.css::after{color: #008FB3;}pre code.html::after{color: #E44D26;} pre code.js::after{color: #CC9600;} pre code.sh::after, pre code.bash::after{color: #EB0000;} pre code.cs::after{color: #9742FF;}
pre code.java::after{color: #017DBC;} pre code.md::after{color: #E4016F;} pre code.py::after{color: #3779AE;}
pre code mark{background-color: var(--card-font-color); color: var(--card-inverse-font-color); border-radius: var(--tiny-distance); padding: 0.25em;}
pre code span.optional-details {max-width: 8ch; overflow: hidden; text-overflow: ellipsis; display:inline-block; vertical-align: bottom; white-space: nowrap;}

.ipa{ line-height: 100%; /*Make sure that large IPA symbols don't kill alignment*/} .ipa:before{ content: "["; } .ipa:after{ content: "]"; }

:not(pre) > code{--box-padding-scaling-factor: 0.8; --font-size-retrievable: 1.1em; font-size: var(--font-size-retrievable);}

.frontSide .contentBox{ width: 100vw; box-sizing: border-box; max-width: calc(100% - 2 * var(--margins-lr));}
.contentBox{ padding: var(--smallish-distance);　display: block; word-break: break-all;}
.contentBox > div{ margin-bottom: var(--small-distance); } .contentBox > div:last-child{ margin-bottom: 0; }

.inputSection center{margin-bottom: 45vh;}
#typeans { text-align: center; display: inline-block; padding: var(--medium-distance); max-width: fit-content; word-break: break-all; border: none; font-size: var(--large-distance) !important;}
#typeans br { display: block; }
#typeans>span { padding: var(--small-distance); border-radius: var(--small-distance); margin: var(--tiny-distance); line-height: 3.5rem; }

font, span.cloze{font-size: 0px;line-height: 0px; border: none; background-color: var(--stacking-darkener); user-select: none;} /*fake clozes*/ font::after, span.cloze::after{content: "\a0"; font-size: var(--font-size-retrievable); line-height: initial; display: inherit; width: 3ch;}
pre font, pre span.cloze{display: inline; background-color: transparent; color: inherit !important; border: none; border-radius: 0; padding: 0; margin: 0; } pre font::after, pre span.cloze::after{content: "___"; }
#back-indicator-token~* pre font, #back-indicator-token~* pre span.cloze { border-bottom: 0.1em solid black; font-weight: bold;}
#back-indicator-token~* font, #back-indicator-token~* span.cloze {font-size: var(--font-size-retrievable);line-height: inherit; user-select: text;  } #back-indicator-token~* font::after, #back-indicator-token~* span.cloze::after{content: normal;}
span.hint{text-decoration: underline;} span.hint::before{content: "(";} span.hint::after{content: ")";}
#back-indicator-token~* span.hint {display: none;}
span.scramble{font-size: 0px;line-height: 0px;} span.scramble::after{content:"$ç®å₼₿₤€∂"; font-size: var(--font-size-retrievable); line-height: initial;}
#back-indicator-token~* span.scramble {font-size: var(--font-size-retrievable);line-height: inherit; } #back-indicator-token~* span.scramble::after{content: normal;}

.reorderText > div > div:not(:empty), .reorderText > div > div > div:not(:empty), .selectText > div > div > div:not(:empty), .selectText > div > div > div:not(:empty) { display: flex; flex-wrap: wrap; align-items: baseline;}

#octo-motivate{    display: none; top: var(--medium-distance); position: fixed; z-index: 15;}

.replaybutton { padding: 0; box-sizing: border-box; z-index: 10; }

/* Text scratchpad */
#content .scratchpad:last-of-type {margin-bottom: 48vh!important;}
.scratchpad>div{padding: var(--small-distance);}
.scratchpad textarea{width: 100%; min-height: calc(5 * var(--medium-distance)); padding: var(--small-distance); box-sizing: border-box;}
.scratchpad>div:focus-within { background-color: var(--card-border-color); } textarea:focus { background-color: var(--card-bg-color); }

/* Sketchpad */
#control-container{ display: flex; flex-direction: column; position: absolute; margin-right: var(--large-distance); margin-top: var(--small-distance); right: 0; }
#control-container > div{margin-top: var(--small-distance); margin-bottom: var(--small-distance);}
#control-container svg { fill: var(--card-border-color)!important;}
#color-picker-toggle{height: var(--square-tappable-distance); width: var(--square-tappable-distance);}
#sketchpadContainer{height: 30vh; background-repeat: no-repeat; background-size: cover;}
#color-picker{display: none;}
#color-picker > div{height: var(--square-tappable-distance); flex-grow: 1; background-color: var(--selection-color);}

/* Calculator */
.calc {width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: flex-start; font-weight: 300; box-sizing: border-box; overflow: hidden; }
.calc *{ box-sizing: border-box; }
.top { width: 100%; color: var(--element-color); }
.result { box-sizing: border-box; width: 100%; height: 3.6rem; font-size: 16px; margin: 0; padding: 7px 10px 0px 10px; text-align: left; opacity: 0.6; overflow: hidden; }
.screen { width: 100%; height: 50px; border: 0; font-size: 30px; padding: 0px 20px 5px 5px; text-align: right; display: flex; align-items: baseline; justify-content: flex-end; overflow: hidden; }
.hints { opacity: 0.3; }
.keyboard { background-color: var(--stacking-darkener); width: 100%; }
.crow { display: flex; flex-direction: row; align-items: stretch; justify-content: space-around; width: 100%; min-height: 50px; margin: auto; }
.cb { box-sizing: border-box; width: 100%; background-color: var(--stacking-darkener); cursor: pointer; display: flex; flex-direction: row; align-items: center; justify-content: center; box-shadow: none; transition: all 0.2s; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none;}
.screentext {display: flex;flex-direction: row;align-items: center;justify-content: center;}
.animated {position: relative;top: 0;animation: movetext1 .2s 1;}
@keyframes movetext1 {0% {top: 100px;}100% {top: 0px;}}
.calc sup {vertical-align: text-top;font-size: 0.5em;}
.inv {display: none;}
.lighter {background-color: var(--stacking-darkener);font-size: 1.2rem;}
.operands, .enter {background-color: var(--card-border-color); font-size: 1.6rem;}

/* Personal collection-specific color manipulation*/
.extraInfoSection img[src*=".png"] { filter: invert(100%) brightness(1.5) blur(0.1px); height: 1em; opacity: 0.7; vertical-align: text-top; display: inline;}

/* Font-Faces */
@font-face { font-family: 'Rubik'; font-style: normal; src: local('Rubik'); src: url('_Rubik-Regular.ttf') format('truetype');}
@font-face {font-family: 'KosugiMaru'; font-style: normal; src: local('_KosugiMaru');src: url('_KosugiMaru-Regular.ttf') format('truetype');}
@font-face {font-family: 'Inconsolata'; font-style: normal; src: local('_Inconsolata');src: url('_Inconsolata.ttf') format('truetype');}
@font-face {font-family: 'DejaVuSans'; font-style: normal; src: local('_DejaVuSans');src: url('_DejaVuSans.ttf') format('truetype');}

.warning~.cardlet.frontSide{
  animation-duration: 1s;
  animation-name: shortRed;
}

@keyframes shortRed {
  25%, 75% {
    --stacking-darkener: var(--darkener-dark-bg);
    --stacking-darkener-inverse: var(--darkener-light-bg);

    --card-font-color: var(--white-color);
    --card-bg-color: hsl(190, 100%, 50%);
    --card-border-color: hsl(190, 100%, 48%);
    --child-deemphasize-color: hsl(0, 100%, calc(95% * (1 - 0.05 *var(--c-adj-fact))));
  }
  50%, 100% {

        --stacking-darkener: var(--darkener-light-bg);
        --stacking-darkener-inverse: var(--darkener-dark-bg);

        --card-font-color: hsl(var(--element-color));
        --card-bg-color: hsl(var(--main-color-full-saturation-hs), calc(98% * (1 - 0.02 * var(--c-adj-fact))));
        --card-border-color: hsl(var(--main-color-full-saturation-hs), calc(95% * (1 - 0.05 * var(--c-adj-fact))));
        --child-deemphasize-color: hsla(var(--element-color), 0.7);

  }
}
